@import '../../variables.scss';

.rewrap {
    width: 100%;
    height: 90vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .rewrapContainer {
        gap: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


}